*{
    margin: 0px;
    /* font-family: sans-serif; */
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, Cadetblue, BurlyWood);
}

button{
    border-color: white;
    border-radius: 5px;
    border:solid;
    background-color: transparent;
    color: brown;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    opacity: 50%;
}
.logo{
    flex-basis: 20%

}

.logo img{
    width: 100px;
    height: 100px;
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li:hover{
    opacity: 50%;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color:antiquewhite;
    text-decoration: none;
}

.about{

    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, Cadetblue, BurlyWood);
    align-items: center;
}

.box2{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right, Cadetblue, BurlyWood);
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box3{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 



.intro{
    flex: 1;
    text-align: center;
    margin-top: 150px;
}

.hello{
    font-weight: normal;
    padding-bottom: 15px;
    font-size: 55px;
    color: white;
}

.name{
    padding-bottom: 15px;
    font-size: 70px;
    color: white;
}

.welcome{
    font-size:35px;
    color:antiquewhite;
}

.inner{
    height: 70vh;
    display: block;
    align-items: left;
}

.header{
    
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 35px;
    padding: 0px auto;
    color: indianred;
}

.intropara{
    list-style: none;
    padding-left: 0;
}

.para1{
    width: 400px;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    color:darkred;
    margin-bottom: 20px;
}

.mcmaster{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}



.mcmaster img:hover{
    opacity: 50%;
}

.mcmaster h3{
    margin: 20px auto;
}

.right div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.back1{
    margin-left: 400px;
    margin-top: 150px;
}

.back2{
    margin-top: 50 px;
    margin-right: 230px;
}



.left h3{
    padding-bottom: 20px;
}

.left div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.left img{
    width: 200px;
    height: 200px;
}

.para2{
    width: 300px;
    line-height: 1.6;
}


.right .weatherApp a .weather{
    width: 200px;
    height: 150px;
}

.right .musicPlayer a .music{
    width: 150px;
    height: 180px;
}
